.DS_store
**/.DS_store
PLPTH813Bioinformatis/2021dev
PLPTH813Bioinformatis/2021/lectureSlides
PLPTH813Bioinformatis/2021/videos
PLPTH813Bioinformatis/2021/homework
PLPTH813Bioinformatis/2021/syllabus.docx
PLPTH813Bioinformatis/2021/exam
PLPTH813Bioinformatis/2023/lecture_backup
PLPTH813Bioinformatis/2023/course_prep
PLPTH813Bioinformatis/2023/exam

