.DS_store
**/.DS_store
PLPTH813Bioinformatis/2021dev
PLPTH813Bioinformatis/2021/lectureSlides
PLPTH813Bioinformatis/2021/videos
PLPTH813Bioinformatis/2021/homework
PLPTH813Bioinformatis/2021/syllabus.docx
